## Default values for dataone-keycloak
## This is a YAML-formatted file.
##
##     * * *   NOTE: SOME VALUES INCLUDE THE PLACEHOLDER "${RELEASE_NAME}",   * * *
##     * * *         WHICH MUST BE REPLACED BY THE ACTUAL RELEASE NAME        * * *
##
## Make sure you're in the correct k8s context, then:
##  $ helm upgrade --install keycloakx -n keycloak -f values.yaml \
##         oci://ghcr.io/dataone/charts/dataone-keycloak --version [version] \
##             --debug --render-subchart-notes
##

## @section Global Properties Shared Across Sub-Charts Within This Deployment
##
global:
  ## @param global.defaultStorageClass Global default StorageClass for Persistent Volume(s)
  ##
  ## Inspect your cluster to see what storageClass is set as default:
  ##    $  kubectl get storageclass
  ## ...and then explicitly set defaultStorageClass to match the name of the default storageclass
  ## (e.g. for Rancher Desktop, use:   defaultStorageClass: local-path)
  ##
  defaultStorageClass: csi-cephfs-sc-ephemeral

## @section Keycloak Configuration
keycloakx:

  ## @param keycloakx.replicas The number of keycloak replicas to create (has no effect if autoscaling enabled)
  replicas: 1

  #image:
    # The Keycloak image repository
    #repository: quay.io/keycloak/keycloak
    # Overrides the Keycloak image tag whose default is the chart appVersion
    #tag: "26.3.3"
    # Overrides the Keycloak image tag with a specific digest
    #digest: ""
    # The Keycloak image pull policy
    #pullPolicy: IfNotPresent

  serviceAccount:
    ## @param keycloakx.serviceAccount.create Specifies whether a ServiceAccount should be created
    create: false

  ## @param keycloakx.extraInitContainers Additional init containers, e. g. for providing custom themes and providers
  ##
  ## These are responsible for copying themes and providers to their installed locations in /opt/keycloak/{themes,providers}
  ## Currently this does so by mounting an EmptyDir volume first in the initcontainer, copying files to it, then mounting it in the target container
  extraInitContainers: |
    - name: providers-init
      image: busybox
      imagePullPolicy: IfNotPresent
      command:
        - sh
      args:
        - -c
        - |
          echo "Downloading providers..."
          wget -O "/providers/keycloak-orcid-1.5.0.jar" "https://github.com/eosc-kc/keycloak-orcid/releases/download/1.5.0/keycloak-orcid.jar"
      volumeMounts:
        - name: providers
          mountPath: /providers

  ## @param keycloakx.command Overrides the default entrypoint of the Keycloak container
  ##
  ## Many functions in keycloak get initialized at startup via CLI parameters. These include:
  ##    - logging
  ##    - theme caching
  ##    - debug mode
  command:
    - sh
  args:
    - -c
    - "/opt/keycloak/bin/kc.sh build --vault=file && /opt/keycloak/bin/kc.sh --verbose start --http-port=8080 --hostname https://auth.test.dataone.org --hostname-strict=false --spi-events-listener-jboss-logging-success-level=info --spi-events-listener-jboss-logging-error-level=warn --spi-theme--static-max-age=-1 --spi-theme--cache-themes=false --spi-theme--cache-templates=false --log-level=error --log-level-org.keycloak.events=debug --log-level-org.keycloak.social.user_profile_dump=debug --log-level-org.keycloak.vault=trace --log-level-org.keycloak.services=info --vault-dir=/opt/keycloak/vault --optimized"

  ## @param keycloakx.extraEnv Additional environment variables for Keycloak
  ##
  ## - KEYCLOAK_ADMIN is used to create a default admin account, which can be deleted once a long-term admin account has been created
  ## - KC_PROXY and JAVA_OPTS_APPEND are necessary for startup using a k8s Ingress proxy and with replicas > 1
  extraEnv: |
    - name: KEYCLOAK_ADMIN
      value: kcadmin
    - name: KEYCLOAK_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak
          key: admin-password
    - name: KC_PROXY_HEADERS
      value: xforwarded
    - name: JAVA_OPTS_APPEND
      value: >-
        -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless

  ## @param keycloakx.extraVolumes Add additional volumes, e. g. for custom themes and providers
  ##
  ## Currently, `providers` is set up as an emptyDir which is mounted and then the ORCID provider is copied into the volume
  extraVolumes: |
    - name: providers
      emptyDir: {}
    - name: themes
      persistentVolumeClaim: 
          claimName: keycloak-themes
    - name: imports
      configMap:
          name: imports
    - name: vault
      secret:
          secretName: kc-vault

  ## @param keycloakx.extraVolumeMounts Add additional volumes mounts, e. g. for custom themes and providers
  extraVolumeMounts: |
    - name: providers
      mountPath: /opt/keycloak/providers
    - name: themes
      mountPath: /opt/keycloak/themes
    - name: imports
      mountPath: /opt/keycloak/data/imports
    - name: vault
      mountPath: /opt/keycloak/vault

  ingress:
    ## @param keycloakx.ingress.enabled If `true`, an Ingress is created
    enabled: true
    ## @param keycloakx.ingress.ingressClassName The name of the Ingress Class associated with this ingress
    ingressClassName: "nginx"
    ## @param keycloakx.ingress.servicePort The Service port targeted by the Ingress
    servicePort: http
    annotations:
      ## Resolve HTTP 502 error using ingress-nginx:
      ## See https://www.ibm.com/support/pages/502-error-ingress-keycloak-response

      ## @param keycloakx.ingress.annotations.nginx.ingress.kubernetes.io/proxy-buffer-size Default proxy buffer size
      nginx.ingress.kubernetes.io/proxy-buffer-size: "256k"

      ## @param keycloakx.ingress.annotations.nginx.ingress.kubernetes.io/client-body-buffer-size Default client bidy buffer size 
      ## https://nginx.org/en/docs/http/ngx_http_core_module.html#client_body_buffer_size
      nginx.ingress.kubernetes.io/client-body-buffer-size: "1m"

      ## @param keycloakx.ingress.annotations.nginx.ingress.kubernetes.io/client_max_body_size Maximum client body size 
      ## https://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size
      nginx.ingress.kubernetes.io/client_max_body_size: "10m"

      ## @param keycloakx.ingress.annotations.cert-manager.io/cluster-issuer Name of the cluster cert issuer for Let's Encrypt
      cert-manager.io/cluster-issuer: "letsencrypt-prod"

    rules:
      -
        ## @param keycloakx.ingress.rules[0].host Ingress hostname for the keycloak service
        host: &hostname auth.test.dataone.org
        ## Paths for the host
        paths:
          - 
            ## @param keycloakx.ingress.rules[0].paths[0].path Ingress path for the keycloak service
            path: '{{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/'
            ## @param keycloakx.ingress.rules[0].paths[0].pathType Ingress pathType for the keycloak service
            pathType: Prefix
    tls:
      - 
        ## @param keycloakx.ingress.tls[0].hosts TLS hostname for the keycloak service
        hosts:
          - *hostname
        ## @param keycloakx.ingress.tls[0].secretName TLS secret name for the keycloak service
        secretName: "ingress-nginx-tls-cert"

    # TODO: This needs to be configured before production to secure the admin endpoint
    # ingress for console only (/auth/admin)
    #console:
      # If `true`, an Ingress is created for console path only
      #enabled: false
      # The name of Ingress Class associated with the console ingress only
      #ingressClassName: ""
      # Ingress annotations for console ingress only
      # Useful to set nginx.ingress.kubernetes.io/whitelist-source-range particularly
      #annotations: {}
      #rules:
      #  -
      #    # Ingress host
      #    host: '{{ .Release.Name }}.keycloak.example.com'
      #    # Paths for the host
      #    paths:
      #      - path: '{{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/admin'
      #        pathType: Prefix
      #
      # Console TLS configuration
      #tls: []
  #      - hosts:
  #          - console.keycloak.example.com
  #        secretName: ""

  database:
    ## @param keycloakx.database.database The name of the database used by the keycloak service.
    ##
    database: keycloak

    ## @param keycloakx.database.replicas The number of database replicas used by the keycloak service.
    ##
    replicas: 3

    ## @param keycloakx.database.storageClass The storageClass to be used by CloudNativePG to create storage volumes.
    ##
    storageClass: csi-cephfs-sc-ephemeral

    ## @param keycloakx.database.size The size to be used by CloudNativePG to create storage volumes.
    ##
    size: 100Gi

    ## @param keycloakx.database.username Name of the application database owner and user for keycloak
    ##
    username: keycloak

    ## @param keycloakx.database.existingSecret Secret to be used for postgres password
    ## see ./admin/cloudnative_pg_secret.yaml
    ##
    existingSecret: keycloak-pg

    ## @param keycloakx.database.existingSecretKey name of the key in the existingSecret containing the password field
    ##
    existingSecretKey: password

    ## @param keycloakx.database.vendor name of the database vendor, only `postgres` supported in Keycloak now
    ## 
    vendor: postgres

    ## @param keycloakx.database.hostname the hostname of the database service. 
    ## 
    ## For CloudNativePG, this will typically be the `rw` service in the cluster
    ## if the database is in the same namespace as keycloakx, this can be a relative hostname, 
    ## otherwise qualify it as needed to find it in the cluster
    hostname: keycloakx-cnpg-rw

    ## @param keycloakx.database.port the port used for connecting to the database
    ##
    port: 5432

  proxy:
    ## @param keycloakx.proxy.enabled true if keycloak is installed behind a proxy like a k8s Ingress
    enabled: true
    ## @param keycloakx.proxy.mode set to `xforwarded` if X-Forwarded` headers are set by the proxy
    mode: xforwarded
    http:
      ## @param keycloakx.proxy.http.enabled true if keycloak is proxy uses http
      enabled: true

  http:
    ## @param keycloakx.http.relativePath The path at which the ingress will respond, typically `/auth`
    ## For backwards compatibility reasons we keycloak sets this to the value used by previous Keycloak versions.
    relativePath: "/auth"

