# Load all files in the "realms" directory into a ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: realms
  labels:
    {{- include "keycloak-dataone.labels" . | nindent 4 }}
data:
{{- $currentScope := . -}}
{{- range $path, $content := .Files.Glob "realms/*" }}
  {{ base $path }}: |-
{{ tpl ($currentScope.Files.Get $path) $currentScope | indent 4 }}
{{- end }}
