:root {
    --c-neutral-1: #f8fbfd;
    --c-neutral-2: #ddedf3;
    --c-neutral-3: #b9d3de;
    --c-neutral-4: #91b7c5;
    --c-neutral-5: #3f788f;
    --c-neutral-6: #226987;
    --c-neutral-7: #18556e;
    --c-neutral-8: #0f4054;
    --c-neutral-9: #07222d;
    --c-major-accent-1: #f7fefe;
    --c-major-accent-2: #d8f6fa;
    --c-major-accent-3: #abe7ef;
    --c-major-accent-4: #7bd4e0;
    --c-major-accent-5: #16acc0;
    --c-major-accent-6: #009baf;
    --c-major-accent-7: #007b8b;
    --c-major-accent-8: #005c67;
    --c-major-accent-9: #003036;
    --c-minor-accent-1: #fffff9;
    --c-minor-accent-2: #fffae5;
    --c-minor-accent-3: #fcf2c9;
    --c-minor-accent-4: #f8e7aa;
    --c-minor-accent-5: #EED268;
    --c-minor-accent-6: #dbba3d;
    --c-minor-accent-7: #b79928;
    --c-minor-accent-8: #8b7419;
    --c-minor-accent-9: #4b3e0b;
    --c-rare-accent-1: #f7fefb;
    --c-rare-accent-2: #d7f8ef;
    --c-rare-accent-3: #abe8d7;
    --c-rare-accent-4: #7bd6be;
    --c-rare-accent-5: #16ae84;
    --c-rare-accent-6: #019f75;
    --c-rare-accent-7: #00805d;
    --c-rare-accent-8: #005e45;
    --c-rare-accent-9: #003124;
    --c-success-on-default: #2c9a7b;
    --c-success-subtle-on-default: #d4f1eb;
    --c-info-on-default: #0670ac;
    --c-info-subtle-on-default: #cce8f6;
    --c-warning-on-default: #b59932;
    --c-warning-subtle-on-default: #f2f1db;
    --c-error-on-default: #ca5c53;
    --c-error-subtle-on-default: #f7e3e2;
    --c-default-lighter-2: white;
    --c-default-lighter: white;
    --c-default: #f8fbfd;
    --c-default-darker: #edf6fb;
    --c-default-darker-2: #e3f1f9;
    --c-shadow-1-on-default: rgba(119, 121, 122, 0.0900706);
    --c-shadow-2-on-default: rgba(119, 121, 122, 0.140071);
    --c-shadow-3-on-default: rgba(119, 121, 122, 0.290071);
    --c-shadow-4-on-default: rgba(119, 121, 122, 0.540071);
    --c-shadow-5-on-default: rgba(119, 121, 122, 0.890071);
    --c-foreground-very-subtle-on-default: #c0d4dc;
    --c-foreground-subtle-on-default: #6492a5;
    --c-foreground-on-default: #3f788f;
    --c-foreground-emphasis-on-default: #275465;
    --c-major-accent-very-subtle-on-default: #b4e4eb;
    --c-major-accent-subtle-on-default: #43bccc;
    --c-major-accent-on-default: #16acc0;
    --c-major-accent-emphasis-on-default: #0cc6de;
    --c-minor-accent-very-subtle-on-default: #f5efd1;
    --c-minor-accent-subtle-on-default: #f0da86;
    --c-minor-accent-on-default: #EED268;
    --c-minor-accent-emphasis-on-default: #ffde63;
    --c-rare-accent-very-subtle-on-default: #b4e4d9;
    --c-rare-accent-subtle-on-default: #43bd9d;
    --c-rare-accent-on-default: #16ae84;
    --c-rare-accent-emphasis-on-default: #0b7a5c;
    --c-success-on-always-dark: #57b894;
    --c-success-subtle-on-always-dark: #14525b;
    --c-info-on-always-dark: #318ec5;
    --c-info-subtle-on-always-dark: #0c4966;
    --c-warning-on-always-dark: #e0b74b;
    --c-warning-subtle-on-always-dark: #32524b;
    --c-error-on-always-dark: #f57a6c;
    --c-error-subtle-on-always-dark: #374552;
    --c-always-dark-lighter-2: #237ca0;
    --c-always-dark-lighter: #1d6583;
    --c-always-dark: #18556e;
    --c-always-dark-darker: #164d63;
    --c-always-dark-darker-2: #144559;
    --c-shadow-1-on-always-dark: rgba(12, 41, 53, 0.0932435);
    --c-shadow-2-on-always-dark: rgba(12, 41, 53, 0.143244);
    --c-shadow-3-on-always-dark: rgba(12, 41, 53, 0.293244);
    --c-shadow-4-on-always-dark: rgba(12, 41, 53, 0.543244);
    --c-shadow-5-on-always-dark: rgba(12, 41, 53, 0.893244);
    --c-foreground-very-subtle-on-always-dark: #5b8799;
    --c-foreground-subtle-on-always-dark: #cbdae1;
    --c-foreground-on-always-dark: #f8fbfd;
    --c-foreground-emphasis-on-always-dark: #f7fdfe;
    --c-major-accent-very-subtle-on-always-dark: #186f86;
    --c-major-accent-subtle-on-always-dark: #169bb0;
    --c-major-accent-on-always-dark: #16acc0;
    --c-major-accent-emphasis-on-always-dark: #0cc6de;
    --c-minor-accent-very-subtle-on-always-dark: #587b6c;
    --c-minor-accent-subtle-on-always-dark: #c3b969;
    --c-minor-accent-on-always-dark: #EED268;
    --c-minor-accent-emphasis-on-always-dark: #ffde63;
    --c-rare-accent-very-subtle-on-always-dark: #187075;
    --c-rare-accent-subtle-on-always-dark: #179c80;
    --c-rare-accent-on-always-dark: #16ae84;
    --c-rare-accent-emphasis-on-always-dark: #0b7a5c;
    --c-success-on-major-accent: #48a382;
    --c-success-subtle-on-major-accent: #13c4d1;
    --c-info-on-major-accent: #2279b3;
    --c-info-subtle-on-major-accent: #0bbbdc;
    --c-warning-on-major-accent: #d1a239;
    --c-warning-subtle-on-major-accent: #32c4c1;
    --c-error-on-major-accent: #e66559;
    --c-error-subtle-on-major-accent: #36b6c8;
    --c-major-accent-lighter-2: #2cd1e7;
    --c-major-accent-lighter: #19c0d7;
    --c-major-accent: #16acc0;
    --c-major-accent-darker: #15a2b5;
    --c-major-accent-darker-2: #1398a9;
    --c-shadow-1-on-major-accent: rgba(15, 80, 88, 0.0905112);
    --c-shadow-2-on-major-accent: rgba(15, 80, 88, 0.140511);
    --c-shadow-3-on-major-accent: rgba(15, 80, 88, 0.290511);
    --c-shadow-4-on-major-accent: rgba(15, 80, 88, 0.540511);
    --c-shadow-5-on-major-accent: rgba(15, 80, 88, 0.890511);
    --c-foreground-very-subtle-on-major-accent: #5ac4d2;
    --c-foreground-subtle-on-major-accent: #cbecf1;
    --c-foreground-on-major-accent: #f8fbfd;
    --c-foreground-emphasis-on-major-accent: #f7fdfe;
    --c-accent-very-subtle-on-major-accent: #58baae;
    --c-accent-subtle-on-major-accent: #c5d190;
    --c-accent-on-major-accent: #f1da84;
    --c-accent-emphasis-on-major-accent: #ffe57f;
    --c-success-on-minor-accent: #2c9f8e;
    --c-success-subtle-on-minor-accent: #dad86c;
    --c-info-on-minor-accent: #0675bf;
    --c-info-subtle-on-minor-accent: #d2cf77;
    --c-warning-on-minor-accent: #b59e45;
    --c-warning-subtle-on-minor-accent: #f9d85c;
    --c-error-on-minor-accent: #ca6166;
    --c-error-subtle-on-minor-accent: #fdca63;
    --c-minor-accent-lighter-2: #f4e29f;
    --c-minor-accent-lighter: #f1d97f;
    --c-minor-accent: #EED268;
    --c-minor-accent-darker: #edcf5d;
    --c-minor-accent-darker-2: #ebcb51;
    --c-shadow-1-on-minor-accent: rgba(114, 101, 50, 0.0901264);
    --c-shadow-2-on-minor-accent: rgba(114, 101, 50, 0.140126);
    --c-shadow-3-on-minor-accent: rgba(114, 101, 50, 0.290126);
    --c-shadow-4-on-minor-accent: rgba(114, 101, 50, 0.540126);
    --c-shadow-5-on-minor-accent: rgba(114, 101, 50, 0.890126);
    --c-foreground-very-subtle-on-minor-accent: #d0b650;
    --c-foreground-subtle-on-minor-accent: #9e8629;
    --c-foreground-on-minor-accent: #8b7419;
    --c-foreground-emphasis-on-minor-accent: #61510e;
    --c-accent-very-subtle-on-minor-accent: #a8bc88;
    --c-accent-subtle-on-minor-accent: #3497bd;
    --c-accent-on-minor-accent: #0688d2;
    --c-accent-emphasis-on-minor-accent: #005d93;
    --c-success-on-rare-accent: #59a691;
    --c-success-subtle-on-rare-accent: #128666;
    --c-info-on-rare-accent: #337dc2;
    --c-info-subtle-on-rare-accent: #0a7d71;
    --c-warning-on-rare-accent: #e2a648;
    --c-warning-subtle-on-rare-accent: #308656;
    --c-error-on-rare-accent: #f76969;
    --c-error-subtle-on-rare-accent: #35785d;
    --c-rare-accent-lighter-2: #1fe2ad;
    --c-rare-accent-lighter: #19c496;
    --c-rare-accent: #16ae84;
    --c-rare-accent-darker: #15a27c;
    --c-rare-accent-darker-2: #149773;
    --c-shadow-1-on-rare-accent: rgba(14, 80, 63, 0.0905857);
    --c-shadow-2-on-rare-accent: rgba(14, 80, 63, 0.140586);
    --c-shadow-3-on-rare-accent: rgba(14, 80, 63, 0.290586);
    --c-shadow-4-on-rare-accent: rgba(14, 80, 63, 0.540586);
    --c-shadow-5-on-rare-accent: rgba(14, 80, 63, 0.890586);
    --c-foreground-very-subtle-on-rare-accent: #5ac5a9;
    --c-foreground-subtle-on-rare-accent: #cbece5;
    --c-foreground-on-rare-accent: #f8fbfd;
    --c-foreground-emphasis-on-rare-accent: #f7fdfe;
    --c-accent-very-subtle-on-rare-accent: #57b97c;
    --c-accent-subtle-on-rare-accent: #c3cb6e;
    --c-accent-on-rare-accent: #EED268;
    --c-accent-emphasis-on-rare-accent: #ffde63;
    --nav-height: 6.5rem;
    --footer-section-overlap: 20rem;
    --fc-link: var(--c-major-accent-emphasis-on-default, $cn-teal);
    --fc-link-hover: var(--c-major-accent-emphasis-on-default, $cn-teal);
    --ff-title: Martel, serif;
    --ff-title2: Martel, serif;
    --ff-title3: Work Sans, sans-serif;
    --ff-body: Work Sans, sans-serif;
    --fs-smallest: 0.7rem;
    --fs-x-small: 0.75rem;
    --fs-smaller: 0.8rem;
    --fs-small: 0.83rem;
    --fs-medium: 0.98rem;
    --fs-large: 1.05rem;
    --fs-larger: 1.1rem;
    --fs-x-large: calc(1.265rem + 0.30901288vw);
    --fs-xx-large: calc(1.295rem + 0.92703863vw);
    --fs-xxx-large: calc(1.325rem + 1.54506438vw);
    --fs-largest: calc(1.375rem + 2.5751073vw);
    --fw-light: 300;
    --fw-normal: normal;
    --fw-bold: 500;
    --fw-bolder: 600;
    --fw-x-bold: 700;
    --fw-xx-bold: 900;
    --br-default: .2rem
}
