:root {
    --pf-global--primary-color--100: var(--c-major-accent-8);
}

.login-pf body {
    background-image: url("https://www.dataone.org/uploads/hero_images/joe-pregadio-Vkqyz0hu9h0-unsplash.jpg");
}

#kc-header {
    background-image: url("../img/dataone-logo-144.png");
    background-repeat: no-repeat;
    background-position: 50% center;
    padding: 80px 10px 30px 10px;
    color: transparent;
    user-select: none;
}

.header--overlay-subtle {
    text-shadow: 0 0 2em var(--c-major-accent-5), 0 0 .15em var(--c-major-accent-8);
}
